<div class="row">
  <div class="six columns offset-by-three">
    <div class="panel">
      <h1 class="text-center">Welcome to the Sample App</h1>
      <h2 class="text-center">This is the home page.</h2>
      <%= link_to "Sign up now!", signup_path, class: "large radius button" %>
    </div>
  </div>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>