<% provide(:title, 'Masonry') %>

<h1 class="text-center">Masonry</h1>

<div id="masonry">

	<div class="masonryBox">
		<div class="masonryImg">
		  <a href="https://bigfuture.collegeboard.org/careers/arts-visualand-performing-photographers">
		    <img src="http://placehold.it/280x150/CCCCCC/000000&text=Photographer" alt="" />
		  </a>
		  <div class="photoTitle">
		  	Photographer
		  </div>
		  <div>
		  	<div class="photoSocial">
		  		13 pins
			  </div>
			  <div class="photoSocial">
			  	25 likes
			  </div>
			  <div class="photoSocial">
			  	3 comments
			  </div>
			</div>
		</div>
		<div class="comments">
			<div class="comment">
				<div class="commentAvatar">
					<img src="http://www.gravatar.com/avatar/0?d=mm&s=40" alt="" />
				</div>
			  <div class="commentText">
			    A comment. asdf afdasdf adsf a ewrrw eod afef sfaf eeeawr asdfa asdfasfd asdwewfas fd fsd afsd asfd asfa asdf as sdf afdasdf adsf a ewrrw eod afef sfaf eeeawr asdfa asdfasfd asdwewfas fd fsd afsd asfd asfa asdf as sdf afdasdf adsf a ewrrw eod afef sfaf eeeawr asdfa asdfasfd asdwewfas fd fsd afsd asfd asfa asdf as
		    </div>
		  </div>
		  <hr/>
			<div class="comment">
				<div class="commentAvatar">
					<img src="http://www.gravatar.com/avatar/0?d=mm&s=40" alt="" />
				</div>
			  <div class="commentText">
			    Another comment. You can see that this one is shorter. 
		    </div>
		  </div>
		  <hr/>
			<div class="comment">
				<div class="commentAvatar">
					<img src="http://www.gravatar.com/avatar/0?d=mm&s=40" alt="" />
				</div>
			  <div class="commentText">
			    A third comment. Shorter still.
		    </div>
		  </div>
		</div>
	</div>
 
	<div class="masonryBox">
		<img src="http://lorempixum.com/200/150/food/2" alt="" />
	</div>
 
	<div class="masonryBox">
		<img src="http://lorempixum.com/200/250/food/3" alt="" />
	</div>
 
	<div class="masonryBox">
		<img src="http://lorempixum.com/200/200/food/4" alt="" />
	</div>

  <div class="masonryBox">
    <iframe width="280" src="http://www.youtube.com/embed/rUoRE-_PkcQ" frameborder="0" allowfullscreen></iframe>
  </div> 

	<div class="masonryBox">
		<img src="http://lorempixum.com/200/150/food/5" alt="" />
	</div>
 
	<div class="masonryBox">
		<img src="http://lorempixum.com/200/250/food/6" alt="" />
	</div>

	<div class="masonryBox">
		<img src="http://lorempixum.com/200/200/food/7" alt="" />
	</div>
 
	<div class="masonryBox">
		<img src="http://lorempixum.com/200/150/food/8" alt="" />
	</div>
 
	<div class="masonryBox">
		<img src="http://lorempixum.com/200/250/food/9" alt="" />
	</div>

</div>



<%= javascript_include_tag "masonry_test" %>