<% provide(:title, 'Masonry') %>

<h1 class="text-center">Masonry</h1>

<div id="masonry">

	<div class="masonryImage">
		<img src="http://lorempixum.com/200/200/food/1" alt="" />
	</div>
 
	<div class="masonryImage">
		<img src="http://lorempixum.com/200/150/food/2" alt="" />
	</div>
 
	<div class="masonryImage">
		<img src="http://lorempixum.com/200/250/food/3" alt="" />
	</div>
 
	<div class="masonryImage">
		<img src="http://lorempixum.com/200/200/food/4" alt="" />
	</div>
 
	<div class="masonryImage">
		<img src="http://lorempixum.com/200/150/food/5" alt="" />
	</div>
 
	<div class="masonryImage">
		<img src="http://lorempixum.com/200/250/food/6" alt="" />
	</div>

	<div class="masonryImage">
		<img src="http://lorempixum.com/200/200/food/7" alt="" />
	</div>
 
	<div class="masonryImage">
		<img src="http://lorempixum.com/200/150/food/8" alt="" />
	</div>
 
	<div class="masonryImage">
		<img src="http://lorempixum.com/200/250/food/9" alt="" />
	</div>

</div>
<%= javascript_include_tag "masonry_test" %>