<div id="paged-posts">
	<%= page_navigation_links @posts %>

	<div id="masonry" class="posts">
	  <%= render @posts %>
	</div>

	<%= page_navigation_links @posts %>
</div>
<%= javascript_include_tag "masonry_test" %>