<div class="masonryBox">
	<div class="masonryImg">
	  <a href="<%= post.link_url %>">
	    <%= image_tag post.image_url %>
	  </a>
	  <div class="photoTitle">
	  	<%= post.name %>
	  </div>
	  <div>
	  	<div class="photoSocial">
	  		13 pins
		  </div>
		  <div class="photoSocial">
		  	25 likes
		  </div>
		  <div class="photoSocial">
		  	3 comments
		  </div>
		</div>
	</div>
	<div class="comments">
		<div class="comment">
			<div class="commentAvatar">
				<img src="http://www.gravatar.com/avatar/0?d=mm&s=40" alt="" />
			</div>
		  <div class="commentText">
		    A comment. asdf afdasdf adsf a ewrrw eod afef sfaf eeeawr asdfa asdfasfd asdwewfas fd fsd afsd asfd asfa asdf as sdf afdasdf adsf a ewrrw eod afef sfaf eeeawr asdfa asdfasfd asdwewfas fd fsd afsd asfd asfa asdf as sdf afdasdf adsf a ewrrw eod afef sfaf eeeawr asdfa asdfasfd asdwewfas fd fsd afsd asfd asfa asdf as
	    </div>
	  </div>
	  <hr/>
		<div class="comment">
			<div class="commentAvatar">
				<img src="http://www.gravatar.com/avatar/0?d=mm&s=40" alt="" />
			</div>
		  <div class="commentText">
		    Another comment. You can see that this one is shorter. 
	    </div>
	  </div>
	  <hr/>
		<div class="comment">
			<div class="commentAvatar">
				<img src="http://www.gravatar.com/avatar/0?d=mm&s=40" alt="" />
			</div>
		  <div class="commentText">
		    A third comment. Shorter still.
	    </div>
	  </div>
	</div>
</div>