<header>
  <div class="nav-bar-box">
    <%= link_to "sample app", root_path, id: "logo", :class => "left" %>
    <ul class="nav-bar right">
      <%= nav_link "Home", root_path %>
      <%= nav_link "Help", help_path %>
      <%= nav_link "Sign in", '#' %>
    </ul>
  </div>
</header>