<header>
  <div class="nav-bar-box">
    <%= link_to "sample app", root_path, id: "logo", :class => "left" %>
    <ul class="nav-bar right">
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help",    help_path %></li>
      <li><%= link_to "Sign in", '#' %></li>
    </ul>
  </div>
</header>